@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navbar-bg: #1c3f32e5;
  --font-cinzel: "Cinzel Decorative", cursive;
  --font-inter: "Inter", sans-serif;
  --font-geist-sans: "Geist", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fafafa;
    --foreground: #ededed;
  }
}

@layer components {
  .bg-custom-nav {
    background-color: var(--navbar-bg);
    opacity: 0.9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.cinzel {
  font-family: var(--font-cinzel);
}
